/*重置样式reset*/

body{  margin:0;
    font-family: "Microsoft Sans Serif";
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
}
p {
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    border: 0;
    width: 100%;
    height: auto;
}
